@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@font-face {
  font-family: "Poppins-Light";
  src: url(../assets/fonts/poppins/Poppins-Light.ttf);
}

.pl {
  font-family: "Poppins-light" !important;
}

.loader {
  height: 4px;
  width: 130px;
  --c: no-repeat linear-gradient(#000000 0 0);
  background: var(--c), var(--c), #ccc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}

.inter {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

.is-regular {
  font-family: "Inria Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.is-bold {
  font-family: "Inria Serif", serif;
  font-weight: 700;
  font-style: normal;
}

