---
import { Image } from "astro:assets";
import loading from "../assets/images/loading.gif";
import "../styles/global.css";
---

<div
  class="w-full flex-col h-screen bg-blue flex justify-center items-center"
>
  <Image src={loading} alt="Website loading" />
  <p>Coming soon ...</p>
</div>
